
<style type="text/css">
    #Datmua a {
        clear: both;
        background-color: red;
        color: white;
        width: 120px;
        height: 35px;
        display: block;
        float: right;
        text-align: center;
        padding-top: 10px;
        text-decoration: none;
        font-weight: bold;
    }

        #Datmua a:hover {
            background-color: gray;
            color: red;
        }
</style>
@{
    ViewBag.Title = "Chitietxe";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h3> THÔNG TIN CHI TIẾT XE</h3>
<div>
    <div style="width:40%; float:left; border-left: dotted 1px; border-color:azure">
        <img src="~/Hinhsanpham/@Model.AnhBia" width="100" />
    </div>
    <div style="width:60%; float:left; padding:10px">
        <h4 style="font-weight:bold; color:red">Tên Xe: @Model.TenXe </h4>
        <p style="text-align:justify"><Span style="font-weight:bold"> Biển Số Xe: </Span>@Model.BienSoXe </p>
        <p style="text-align:justify"><Span style="font-weight:bold"> Mô tả: </Span>@Model.Mota </p>
        <p style="font-weight:bold"> Giá Bán: <span style="color:red; font-size:16pt "> @Model.GiaBan VNĐ </span></p>
    </div>
    <div>
        <div id="Datmua">
            <a href="@Url.Action("ThemGiohang", "Giohang", new { id = @Model.MaXe, strURL= Request.Url.ToString() })" class="list-group-item">
                ĐẶT MUA
            </a>
        </div>
    </div>
</div>
